header.masthead {
  text-align: center;
  background-color: #333;
  height: 100vh;
  background-image: url("img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
.progress-bar {
  background-color: #FFED3D;
}
#myName {
  margin-left: 10%;
  margin-top: 30px;
}
#contact {
  text-align: center;
  color: white;
  background-image: url(img/map-image.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
.mediaScreen {
  display: none;
}
@media (max-width: 991px) {
  #reverse {
    display: none;
  }
  .square {
    display: none;
  }
  .mediaScreen {
    display: block;
    padding-left: 10%;
  }
  .hello {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px)  {
  .mediaScreen {
    width: 80%;
    padding-left: 10%;
  }
  .hello {
    margin-left: -10%;
  }
}

@media (max-width: 425px) {
  .mediaScreen {
    margin-left: 5%;
    width: 80%;
  }
}

/* estilos para toogle */
label {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
}

input[type="checkbox"] {
    display: none;
}

label::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
     background-image:
        linear-gradient(
        0deg,
        #ccc,
        #eee);
    border-radius: 50%;
    top: 2.5px;
}

input+label {
    background: gray;
}

input+label::before {
    left: 5px;
    content:''
}

input:checked+label {
    background: #F1A433;
}

input:checked+label::before {
    left: 25px;
    content:''
}
